<h1>Listing states</h1>
  <% if flash[:alert] %>
    <%= flash[:alert] %></div>
  <% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= link_to "#{state.name}", "/#{state.slug}" %></td>
        <td><%= state.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.email = "bananahammock2@gmail.com" %>
<%= link_to 'New State', new_state_path(@state) %>
<% end %>